workflows/EbaPFe2nasIrSQ46.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority": {
      "main": [
        [
          {
            "node": "High Priority Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion": {
      "main": [
        [
          {
            "node": "Promotion Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance/Billing": {
      "main": [
        [
          {
            "node": "Finance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "ai_tool": [
        [
          {
            "node": "High Priority Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Draft": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Finance Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Promotion Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Router",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "High Priority Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Promotion Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Finance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Router": {
      "main": [
        [
          {
            "node": "High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promotion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance/Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T10:32:19.649Z",
  "id": "EbaPFe2nasIrSQ46",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Routing",
  "nodes": [
    {
      "parameters": {
        "content": "# Routing\n✅ Optimized Response Handling – Ensures the right AI agent processes the query instead of a single generalist AI.\n\n✅ Scalable & Modular – New AI agents can be added to handle additional topics.\n\n✅ Faster & More Efficient – Reduces unnecessary LLM calls and improves response speed.\n\n✅ Human Escalation for Critical Issues – Ensures urgent problems are handled by real support staff.\n\n✅ Better User Experience – More accurate and relevant responses tailored to the customer’s needs.",
        "height": 280,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        60
      ],
      "typeVersion": 1,
      "id": "97ed5847-860a-4218-a3b1-44d830ca876f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": []
        },
        "options": {}
      },
      "id": "556f8e4b-21a3-4c97-9a1b-c06ad8cd77c6",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        420,
        420
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "id": "02396392-7d56-4458-acc2-71af90e5f490",
      "name": "High Priority",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        80
      ],
      "webhookId": "c2817f4a-2f52-4ae7-8cd0-16ee702b7c22",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "id": "0dfab52c-778c-4cc5-adc9-2a232e187370",
      "name": "Customer Support",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        300
      ],
      "webhookId": "00c21fcb-fdf2-47d1-96fd-f61c83181bab",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "id": "dd1f5711-679c-4dbb-8a5f-388744e400d1",
      "name": "Promotion",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        540
      ],
      "webhookId": "1e06eea2-bead-419e-b14c-c2ccabfa736a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "id": "5b4ab274-984e-4ce3-bdb9-82975561707c",
      "name": "Finance/Billing",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        740
      ],
      "webhookId": "f3181ea4-b320-4e02-8518-47911e4978ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nHere is the Email: \n{{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize incoming emails and escalate them to the human.\n\n## Tools\nTelegram - Use this tool to escalate to a human. Send over the summary of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        80
      ],
      "id": "2b23f8f2-3413-43a8-be65-2bb57e796f99",
      "name": "High Priority Agent"
    },
    {
      "parameters": {
        "chatId": "1785158897",
        "text": "=Urgent Email: \n{{ $fromAI(\"summary\") }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        1660,
        360
      ],
      "id": "16711c99-ab40-4112-a45a-3552679c255c",
      "name": "Telegram",
      "webhookId": "4a005847-6ed4-48c6-99bd-d09e9d7271af",
      "credentials": {
        "telegramApi": {
          "id": "xmJp9AUWc9iWjqWe",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        300
      ],
      "id": "fe3ebb7b-4bd5-40f1-ad3f-a1839a1327f1",
      "name": "Customer Support Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        540
      ],
      "id": "f80a94bd-5005-41d0-b759-9d75c04a101b",
      "name": "Promotion Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1260,
        740
      ],
      "id": "fececc75-c9db-4924-bd2d-45f9d0238a95",
      "name": "Finance Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1660,
        620
      ],
      "id": "f44b509a-4944-4cec-b57d-cb7d3ba15d7b",
      "name": "Email Draft",
      "webhookId": "5d8537bc-efa2-4889-82bb-cc44dc383ace",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaf53rD4JvmMshz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        640
      ],
      "id": "ef406251-a28f-450d-ac64-11b18f24714d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ch0P4OmRB6XBfTK4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "High Priority",
              "description": "Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"
            },
            {
              "category": "Customer Support",
              "description": "Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"
            },
            {
              "category": "Promotions",
              "description": "Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"
            },
            {
              "category": "Finance/Billing",
              "description": " Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "id": "58696fb9-92ad-4c6b-a067-f224ca8e86fb",
      "name": "Email Router",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        620,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1746025924,
        "possibleDuplicates": [
          "196445f14bf1535a",
          "19644441a70bd4dd"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-15T14:54:49.973Z",
  "versionId": "34e0c93d-8e95-4619-9b68-091784ce58a6"
}