workflows/Ocwsal6NCIoqqWKz.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-16T10:14:53.635Z",
  "id": "Ocwsal6NCIoqqWKz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Telgram-Gemini bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        20
      ],
      "id": "69c59f08-2292-41e5-8357-430d85f7c251",
      "name": "Telegram Trigger",
      "webhookId": "15d5139c-fa0f-46d1-aac9-d3ac39a2d104",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "xmJp9AUWc9iWjqWe",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        20
      ],
      "id": "801401fa-c66f-466a-80c4-35e6d5663015",
      "name": "Telegram",
      "webhookId": "6ca10c0a-07df-420e-adb2-fc16c0a0ddec",
      "credentials": {
        "telegramApi": {
          "id": "xmJp9AUWc9iWjqWe",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message.text}}",
        "options": {
          "systemMessage": "You are a helpful assistant that helps the user answer whatever questions they have. You will search the Internet for the latest information when required."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        20
      ],
      "id": "8d660ba2-caf8-4b37-b18e-200837e28601",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "491bd6e4-6ebd-44d8-8891-c2624499ffd2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Xmgf2omXp4G4WQdg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": "={{ 5 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        240
      ],
      "id": "2d205abd-4cd2-4abc-963c-ca2198bc424e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "12898328-c875-4534-8c74-6edfaddc38e6",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "HHcmPoNN8ozQCZvd",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        240
      ],
      "id": "5e3d0950-5314-47a6-b40e-3d7b480a9511",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-18T11:37:58.097Z",
  "versionId": "a1df18e1-ac47-4be2-a7bd-ae1d76f5e73b"
}